<div id="post-<%= post.id %>" class="<%= 'ml-6' if depth > 0 %> border-l-2 border-gray-100 pl-4 py-3">
  <div class="text-sm text-gray-500">
    <span class="font-medium text-gray-700"><%= post.user.name || post.user.email %></span> &middot;
    <%= time_ago_in_words(post.created_at) %> ago
  </div>

  <div class="text-sm text-gray-800 mt-1">
    <%= simple_format(post.body) %>
  </div>

  <% if post.replies.any? %>
    <div class="mt-2">
      <% post.replies.order(:created_at).each do |reply| %>
        <%= render partial: "discussions/post", locals: { post: reply, discussion: discussion, depth: depth + 1 } %>
      <% end %>
    </div>
  <% end %>
</div>
